.container {
  background: #ffffff;
  box-shadow: 0px 18px 40px -20px rgba(20, 26, 133, 0.203835);
  border-radius: 15px;
  width: 662px;
}

#root {
  background-color: #f4f6fe;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
