.container {
  display: flex;
  padding: 16px 16px 16px 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 600px;
  overflow: scroll;
  .tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 200px;
    cursor: pointer;
    .title {
      font-family: Muli;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      margin-top: 15px;
    }
    .img {
      max-width: 200px;
      min-height: 150px;
    }
  }
}

@keyframes placeholderAnimate {
  0% {
    background-position: -650px 0;
  }
  100% {
    background-position: 650px 0;
  }
}
